{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block body_block %}
<div class="wrapper">
	<h1>About Quokka</h1>

	<img src="{% static "images/quok.png" %}" alt="quok" />

	<p>It's quiz shit yo</p>
	<p>Answers n that</p>

	<h3>Meet the Creators</h3>
	<ul>
		<li>
			<h4>Cassie Brooks</h4>
			<p>Joint Honours CS and French (but is English)</p>
		</li>
		<li>
			<h4>Thomas Toussaint</h4>
			<p>Joint Honours CS and English Language (but is French)</p>
		</li>
		<li>
			<h4>David Creigh</h4>
			<p>Single Honours Computing Science</p>
		</li>
	</ul>
</div>
{% endblock body_block %}