{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block body_block %}
<div class="wrapper">
	<h1 class="static">About Quokka</h1>
	<h2 class="static">Meet the team.</h2>
</div>
<div class="static-wrapper">
	<div class="wrapper">

		<ul class="creators">
			<li>
				<img src="{% static "images/cass.jpg" %}" alt="cassie" />
				<h3>Cassie Brooks</h3>
				<p>Joint Honours CS and French (but is English)</p>
			</li><li>
				<img src="{% static "images/thomas.jpg" %}" alt="thomas" />
				<h3>Thomas Toussaint</h3>
				<p>Joint Honours CS and English Language (but is French)</p>
			</li><li>
				<img src="{% static "images/david.jpg" %}" alt="david" />
				<h3>David Creigh</h3>
				<p>Single Honours Computing Science</p>
			</li>
		</ul>
	</div>
</div>
{% endblock body_block %}