<!DOCTYPE html>
<html>
    <head>
        <title>Add an answer | Quokka</title>
    </head>

    <body>
        <h1>Add an answer</h1>

        <form id="answer_form" method="post" action="/quokka/add_answer/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Answer" />
        </form>
    </body>

</html>
