{% extends 'base.html' %}
{% load staticfiles %}
{% load quokka_extras %}
{% block title %}Questions &amp; answers!{% endblock %}

{% block body_block %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/quokka-ajax.js" %}"></script>
<script src="{% static "js/autogrow.min.js" %}"></script>

{% if questions %}
 	<ul class="questions">
 		{% for question in questions %}
 		<li class="question" id="q-{{ question.id }}">
 			<h3>{{ question.text }}</h3>
 			<ul class="answers">
 				<script type="text/javascript" id="user_has_answered-{{ question.id }}">
 					
 					// makes textarea increase in size automatically when text inside it gets too big
 					$(".answer textarea").autogrow();
 					
 					// make answer submit button appear and disappear on textarea focus
 					$( ".answer textarea" ).focusin(function() {
 						$(this).parent().find("input[type=submit]").css("display", "inline-block");
 					});
 					$( ".answer textarea" ).focusout(function() {
 						$(this).parent().find("input[type=submit]").css("display", "none");
 					});



 					if ($('.answer textarea').is( ":focus" )) {
 						console.log("in focus.");
 						$('.answer input[type=submit]').css('display', 'block');
 					}


 					if ({% user_has_answered question user answers %}) {
 						// need to highlight user's answer...
 						// and hide votes
 					}
 					else {
 						$('#user_has_answered-{{ question.id }}').after(
 							"<li class='answer form'>" +
 								"<form action='' method='POST'>" +
 								"{% csrf_token %}" +
 								"<textarea rows='2' placeholder=\"What's your answer?\"></textarea>" +
 								"<input type='submit' />" +
 								"</form>" +
 							"</li>")
 					}
				</script>

 				{% for answer in answers %}
 					{% ifequal answer.question.id|slugify question.id|slugify %}
	 					<li class="answer" id="a-{{ answer.id }}">
	 						<div class="votes">
	 							{% if user.is_authenticated %}<div class="up" data-aid="{{answer.id}}"><i class="fa fa-chevron-up"></i></div>{% endif %}
	 							<div class="score">
	 								{% get_vote_count answer.id votes %}
	 							</div>
	 							{% if user.is_authenticated %}<div class="down" data-aid="{{answer.id}}"><i class="fa fa-chevron-down"></i></div>{% endif %}
	 						</div>
	 						<div class="text">
	 							{{ answer.text }}
	 							<p class="username">{{ answer.author.username }}</p>
	 						</div>
	 					</li>
 					{% endifequal %}
 				{% endfor %}
 			</ul>
 		</li>
 		{% endfor %}
 	</ul>
{% else %}
 	<p>There are no questions available.</p>
{% endif %}

{% endblock body_block %}