{% extends 'base.html' %}
{% load staticfiles %}
{% load quokka_extras %}
{% block title %}Questions &amp; answers!{% endblock %}

{% block body_block %}

{% if questions %}
 	<ul class="questions">
 		{% for question in questions %}
 		<li class="question" id="q-{{ question.id }}">
 			<h3>{{ question.text }}</h3>
 			<ul class="answers">
 				{% for answer in answers %}
 					{% ifequal answer.question.id|slugify question.id|slugify %}
	 					<li class="answer" id="a-{{ answer.id }}">
	 						<div class="votes">
	 							{% if user.is_authenticated %}<div class="up" data-aid="{{answer.id}}"><i class="fa fa-chevron-up"></i></div>{% endif %}
	 							<div class="score">
	 								{% get_vote_count answer.id votes %}
	 							</div>
	 							{% if user.is_authenticated %}<div class="down" data-aid="{{answer.id}}"><i class="fa fa-chevron-down"></i></div>{% endif %}
	 						</div>
	 						<div class="text">
	 							{{ answer.text }}
	 							<p class="username">{{ answer.author.username }}</p>
	 						</div>
	 					</li>
 					{% endifequal %}
 				{% endfor %}
 			</ul>
 		</li>
 		{% endfor %}
 	</ul>
 {% else %}
 	<p>There are no questions available.</p>
 {% endif %}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="{% static "js/quokka-ajax.js" %}"></script>
{% endblock body_block %}