{% extends 'base.html' %}
{% load staticfiles %}
{% load quokka_extras %}
{% block title %}Questions &amp; answers!{% endblock %}

{% block body_block %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/autogrow.min.js" %}"></script>

{% if questions %}
 	<ul class="questions">
 		{% for question in questions %}
 		<li class="question" id="q-{{ question.id }}">
 			<h3>{{ question.text }}</h3>
 			<ul class="answers">
 				<script type="text/javascript" id="user_has_answered-{{ question.id }}">
 					$(".answer textarea").autogrow();
 					
 					// make answer submit button appear and disappear on textarea focus
 					$( ".answer textarea" ).focusin(function() {
 						$(this).parent().find("input[type=submit]").css("display", "inline-block");
 					});
 					$( ".answer textarea" ).focusout(function() {
 						$(this).parent().find("input[type=submit]").css("display", "none");
 					});


 					if (!{% user_has_answered question user answers %}) {
 						$('#user_has_answered-{{ question.id }}').after(
 							"<li class='answer form'>" +
 								"<form action='' method='POST'>" +
 								"{% csrf_token %}" +
 								"<textarea rows='2' placeholder=\"What's your answer?\"></textarea>" +
 								"<input type='submit' />" +
 								"</form>" +
 							"</li>")
 					}
 					else {
 						var a = {% user_has_answered question user answers %};
 						console.log(a);
 						var b = '#a-' + parseInt(a);
 						console.log(b);

 						// should get <li class="answer" id="a-x"> where x is answer.id
 						// which is returned from user_has_answered simple_tag
 						console.log($(b));

 						// test to make sure 
 						console.log($('#a-6'));

 						// what I want to do with the <li> once I've got hold it it:
 						$('#a-6').addClass('highlight-answer');
 					}
 				</script>

 				{% for answer in answers %}
 					{% ifequal answer.question.id|slugify question.id|slugify %}
	 					<li class="answer" id="a-{{ answer.id }}">
	 						<div class="votes">
	 							{% if user.is_authenticated %}<div class="up" data-aid="{{answer.id}}"><i class="fa fa-chevron-up"></i></div>{% endif %}
	 							<div class="score">
	 								{% get_vote_count answer.id votes %}
	 							</div>
	 							{% if user.is_authenticated %}<div class="down" data-aid="{{answer.id}}"><i class="fa fa-chevron-down"></i></div>{% endif %}
	 						</div>
	 						<div class="text">
	 							<span>{{ answer.text }}</span>
	 							<p class="username">{{ answer.author.username }}</p>
	 						</div>
	 					</li>
 					{% endifequal %}
 				{% endfor %}
 			</ul>
 		</li>
 		{% endfor %}
 	</ul>
{% else %}
 	<p>There are no questions available.</p>
{% endif %}

<script src="{% static "js/quokka-ajax.js" %}"></script>
{% endblock body_block %}